.cart-container {
}

.cart-wrapper {
  padding: 20px;
}

.cart-title {
  font-weight: 300;
  text-align: center;
}

.cart-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-continueButton,
.cart-checkoutButton {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}
.cart-continueButton {
  background-color: transparent;
}
.cart-checkoutButton {
  border: none;
  background-color: black;
  color: white;
}

.topTexts {
}

.topText {
  text-decoration: underline;
  cursor: pointer;
  margin: 0px 10px;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
}

.cart-info {
  flex: 3;
}

.cart-summary {
  flex: 1;
}

.cart-product {
  display: flex;
  justify-content: space-between;
}

.cart-productDetail {
  flex: 2;
  display: flex;
}
.cart-image {
  width: 200px;
}

.cart-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-productName {
}

.cart-productId {
}
.cart-productColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}
.cart-productSize {
}

.cart-priceDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-amountContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cart-productAmount {
  font-size: 24px;
  margin: 5px;
}
.cart-productPrice {
  font-size: 30px;
  font-weight: 200;
}

.cart-summary {
  flex: 1;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  height: 50vh;
}

.cart-summaryTitle {
  font-weight: 200;
}
.cart-summaryItem {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.cart-totalItemText,
.cart-totalItemPrice {
  font-weight: 500;
  font-size: 24px;
}

.cart-totalButton {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
}

@media only screen and (max-width: 380px) {
  .cart-wrapper {
    padding: 10px;
  }
  .topTexts {
    display: none;
  }
  .cart-continueButton,
  .cart-checkoutButton {
    padding: 2px;
    font-weight: 300;
  }

  .cart-bottom {
    flex-direction: column;
  }

  .cart-product {
    flex-direction: column;
  }

  .cart-productAmount {
    margin: 5px 15px;
  }
  .cart-productPrice {
    margin-bottom: 20px;
  }
}
