.categoryItem-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 3px;
  height: 70vh;
  position: relative;
}

.categoryItem-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoryItem-info-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.categoryItem-title {
  color: white;
  margin-bottom: 20px;
}

.categoryItem-button {
  border: none;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  color: gray;
}

@media only screen and (max-width: 380px) {
  .categoryItem-image {
    height: 30vh;
  }
}
