.navbar-container {
  height: 60px;
}

.navbar-wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
}
.center {
  flex: 1;
  display: flex;
  text-align: center;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.language {
  font-size: 14px;
  cursor: pointer;
}
.search-container {
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}

input {
  border: none;
}

.logo {
  font-weight: bold;
}

.register,
.sign-in,
.cart {
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}

Link,
a {
  text-decoration: none;
}

@media only screen and (max-width: 380px) {
  .navbar-container {
    height: 50px;
  }

  .navbar-wrapper {
    padding: 10px 0px;
  }
  .language {
    display: none;
  }
  input {
    width: 50px;
  }
  .logo {
    font-size: 24px;
  }

  .right {
    flex: 2;
    justify-content: center;
  }
  .register,
  .sign-in,
  .cart {
    font-size: 12px;
    cursor: pointer;
    margin-left: 10px;
  }
}
